<div class="container">

  <div class="row mb-3">
    <label for="catalogueSelect" class="form-label col-form-label">Catalogue</label>
    <div class="col">
      <Select @onChange={{action (mut this.channel_id)}} @value={{this.channel_id}} style="height: 38px" id="catalogueSelect" as |s|>
        <s.option @label="Active Variants" @value="" />
        {{#each this.channels as |channel|}}
          <s.option @label={{channel.name}} @value={{channel.id}} />
        {{/each}}
      </Select>
    </div>
    <label for="catalogueSelect" class="form-label col-form-label">Filter</label>
    <div class="col">
      <Select @onChange={{action (mut this.filter_id)}} @value={{this.filter_id}} style="height: 38px" as |s|>
        <s.option @label="All" @value="" />
        {{#each this.filters as |filter|}}
          <s.option @label={{filter.name}} @value={{filter.id}} />
        {{/each}}
      </Select>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <Select @onChange={{action (mut this.template_id)}} @value={{this.template_id}} style="height: 38px" as |s|>
          {{#each this.templates as |template|}}
            <s.option @label={{template.name}} @value={{template.id}} />
          {{/each}}
        </Select>
        <div class="input-group-append">
          <a class="btn btn-secondary"
            target="_blank"
            rel="noopener noreferrer"
            href={{concat '/liquid?' 'channel_id=' this.channel_id '&filter_id=' this.filter_id '&template_id=' this.template_id}}
          >
            Export
          </a>
        </div>
      </div>

    </div>
    <div class="col">
      <BsButton @onClick={{action "createTemplate"}}>Create Template</BsButton>
    </div>
  </div>
  <div class="row">
    <div class="input-group mb-3">
      <Input
      @type="text"
      @value={{this.searchTerm}}
      @class="form-control"
      @placeholder="Search for variant"
      style="height: 38px"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    {{#each this.model as |variant|}}
      <div class="card col-lg-3 col-md-4 col-sm-6">
        {{#if variant.primaryImage.imageURL}}
          <BsCarousel
          @autoPlay={{false}}
          @wrap={{true}}
          @index={{0}}
          @keyboard={{true}}
          @ltr={{true}}
          @showControls={{true}}
          @showIndicators={{true}}
          as |car|>
            {{#each variant.images as |image|}}
              <car.slide>
                <img src={{image.imageURL}} class="card-img-top"style="height: 200px;object-fit: contain;">
              </car.slide>
            {{/each}}
          </BsCarousel>
        {{else}}
          <img
            src="https://d3h6ue1fvxa32i.cloudfront.net/assets/avatars/avatar-product-placeholder-2323356025b30cfdcc3c79adeae8b74b681a2532688457687d4000a61e63f898.png"
            class="card-img-top"
            style="height: 200px;object-fit: contain;"
          >
        {{/if}}
        <div class="card-body">
          <strong class="">{{variant.productName}} - {{variant.name}}</strong>
          <p class="mb-2 text-muted">{{variant.sku}}</p>
          <p>Price: {{getVariantPrice variant this.channel.priceListId}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>

